{"openapi":"3.1.0","servers":[{"url":"https://api.revenuebase.ai","description":"RevenueBase API"}],"info":{"title":"Revenuebase Email Verification","description":"This API provides endpoints for validating email addresses individually or through file uploads.","version":"0.1.0"},"paths":{"/v1/credits":{"get":{"tags":["User Operations"],"summary":"Credits","operationId":"credits_v1_credits_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditsResponse"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/new-api-key":{"get":{"tags":["User Operations"],"summary":"New Api Key","operationId":"new_api_key_v1_new_api_key_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewKeyResponse"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/process-email":{"post":{"tags":["Email Verification"],"summary":"Real Time Email","operationId":"real_time_email_v1_process_email_post","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"metadata","in":"query","required":false,"schema":{"type":"boolean","description":"Include detailed metadata in response","default":false,"title":"Metadata"},"description":"Include detailed metadata in response"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RealTimeEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Real Time Email V1 Process Email Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/batch-upload":{"post":{"tags":["Email Verification"],"summary":"Upload a new batch email file for processing","description":"This endpoint allows users to upload and start processing a file containing multiple email addresses \n    for batch processing. When a file is submitted, it is added to a queue for asynchronous processing and assigned a process_id. \n        The file is marked as \"QUEUED,\" and a message indicates that processing will begin soon. \n        Each user has their own dedicated queue for tasks. The response includes the process_id and filename, \n        along with the initial status of \"PROCESSING QUEUED.\" Users can later check the status using the process_id.","operationId":"batch_upload_v1_batch_upload_post","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"metadata","in":"query","required":false,"schema":{"type":"boolean","description":"Include detailed metadata in response","default":false,"title":"Metadata"},"description":"Include detailed metadata in response"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_batch_upload_v1_batch_upload_post"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/batch-process-email":{"post":{"tags":["Email Verification"],"summary":"Submit a new batch email file for processing","description":"This endpoint allows users to upload a file containing multiple email addresses for batch processing. \n    The complete filename should be less than 120 chracters.\n    When a file is submitted, it is added to a queue for asynchronous processing and assigned a process_id. \n    The file is marked as \"QUEUED,\" and a message indicates that processing will begin soon. \n    Each user has their own dedicated queue for tasks. The response includes the process_id and filename, \n    along with the initial status of \"PROCESSING QUEUED.\" Users can later check the status using the process_id.","operationId":"batch_email_v1_batch_process_email_post","security":[{"APIKeyHeader":[]}],"parameters":[{"name":"metadata","in":"query","required":false,"schema":{"type":"boolean","description":"Include detailed metadata in response","default":false,"title":"Metadata"},"description":"Include detailed metadata in response"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/batch-process-email-status":{"post":{"tags":["Email Verification"],"summary":"Retrieve the processing status of an email batch job.","description":"This endpoint allows users to check the current status of a previously submitted batch email processing request. By providing a process_id, users can query the queue for details about the file being processed, including the filename, current status, and any relevant messages. Only the user who submitted the request can access the status of their specific job. If the process_id is invalid or not associated with the user, an error message is returned.","operationId":"batch_email_status_v1_batch_process_email_status_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailStatusRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/queued-process":{"get":{"tags":["Email Verification"],"summary":"Get all queued or processing email batch jobs for the current user","description":"This endpoint retrieves all email batch processing jobs that are currently in the 'QUEUED' or 'PROCESSING' status for the authenticated user. It returns a list of processes including their process IDs, filenames, statuses, messages, and last updated timestamps.","operationId":"process_queue_v1_queued_process_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueuedProcessesResponse"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/cancel-process":{"post":{"tags":["Email Verification"],"summary":"Cancel Process","operationId":"cancel_process_v1_cancel_process_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailStatusRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v1/batch-download":{"post":{"tags":["Email Verification"],"summary":"Download the processed batch email file","description":"This endpoint allows users to download the processed batch email file using the process id. It responds with the file stream and appropriate headers for download.","operationId":"batch_download_v1_batch_download_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmailDownloadRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Batch Download V1 Batch Download Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v2/company-resolver/resolve":{"post":{"tags":["Company Match"],"summary":"Resolve Company","description":"Resolve company information based on provided criteria.","operationId":"resolve_company_v2_company_resolver_resolve_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResolverRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResolverResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}},"/v2/company-resolver/discovery":{"post":{"tags":["Company Match"],"summary":"Discover Company","description":"Resolve company information based on provided criteria.","operationId":"discover_company_v2_company_resolver_discovery_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyDiscoverRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyResolverResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]}]}}},"components":{"schemas":{"BatchEmailDownloadRequest":{"properties":{"process_id":{"type":"integer","title":"Process Id"}},"type":"object","required":["process_id"],"title":"BatchEmailDownloadRequest"},"BatchEmailRequest":{"properties":{"filename":{"type":"string","title":"Filename"}},"type":"object","required":["filename"],"title":"BatchEmailRequest"},"BatchEmailResponse":{"properties":{"process_id":{"type":"integer","title":"Process Id"},"filename":{"type":"string","title":"Filename"},"status":{"type":"string","title":"Status"}},"type":"object","required":["process_id","filename","status"],"title":"BatchEmailResponse"},"BatchEmailStatusRequest":{"properties":{"process_id":{"type":"integer","title":"Process Id"}},"type":"object","required":["process_id"],"title":"BatchEmailStatusRequest"},"BatchEmailStatusResponse":{"properties":{"process_id":{"type":"integer","title":"Process Id"},"filename":{"type":"string","title":"Filename"},"current_status":{"type":"string","title":"Current Status"},"message":{"type":"string","title":"Message"}},"type":"object","required":["process_id","filename","current_status","message"],"title":"BatchEmailStatusResponse"},"Body_batch_upload_v1_batch_upload_post":{"properties":{"requested_file":{"type":"string","format":"binary","title":"Requested File"}},"type":"object","required":["requested_file"],"title":"Body_batch_upload_v1_batch_upload_post"},"Company":{"properties":{"rbid":{"type":"string","title":"Rbid"},"company_name":{"type":"string","title":"Company Name"},"similar_score":{"type":"number","title":"Similar Score"},"about_us":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"About Us"},"headquarters_street":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Street"},"headquarters_city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters City"},"headquarters_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters State"},"headquarters_zip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Zip"},"headquarters_country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Country"}},"type":"object","required":["rbid","company_name","similar_score"],"title":"Company"},"CompanyDiscoverRequest":{"properties":{"result_count":{"type":"integer","title":"Result Count","default":1000},"keyword":{"type":"string","title":"Keyword"},"headquarters_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters State"},"headquarters_country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Country"},"headquarters_city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters City"},"headquarters_street":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Street"},"headquarters_zip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Zip"}},"type":"object","required":["keyword"],"title":"CompanyDiscoverRequest"},"CompanyResolverRequest":{"properties":{"result_count":{"type":"integer","title":"Result Count","default":3},"company_name":{"type":"string","title":"Company Name"},"headquarters_state":{"type":"string","title":"Headquarters State"},"headquarters_country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Country","default":"US"},"headquarters_city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters City"},"headquarters_street":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Street"},"headquarters_zip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Zip"}},"type":"object","required":["company_name","headquarters_state"],"title":"CompanyResolverRequest"},"CompanyResolverResponse":{"properties":{"companies":{"items":{"$ref":"#/components/schemas/Company"},"type":"array","title":"Companies"}},"type":"object","required":["companies"],"title":"CompanyResolverResponse"},"CreditsResponse":{"properties":{"credits":{"type":"integer","title":"Credits"}},"type":"object","required":["credits"],"title":"CreditsResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"NewKeyResponse":{"properties":{"api_key":{"type":"string","title":"Api Key"}},"type":"object","required":["api_key"],"title":"NewKeyResponse"},"Process":{"properties":{"process_id":{"type":"integer","title":"Process Id"},"filename":{"type":"string","title":"Filename"},"status":{"type":"string","title":"Status"},"message":{"type":"string","title":"Message"},"last_updated":{"type":"string","format":"date-time","title":"Last Updated"}},"type":"object","required":["process_id","filename","status","message","last_updated"],"title":"Process"},"QueuedProcessesResponse":{"properties":{"processes":{"items":{"$ref":"#/components/schemas/Process"},"type":"array","title":"Processes"}},"type":"object","required":["processes"],"title":"QueuedProcessesResponse"},"RealTimeEmailRequest":{"properties":{"email":{"type":"string","format":"email","title":"Email"}},"type":"object","required":["email"],"title":"RealTimeEmailRequest"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-key","description":"Your API key. Get one in the dashboard under Settings → API Keys."}}}}
